div[data-is="main-board"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 670px;

  div.board-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url('/images/layout.png');
    padding: 0 128px 32px 128px;
    transform: scale(.75);
    margin-top: -100px; // compensate the scale

    section[data-is="line"] {
      flex: 1;
      display: flex;
      flex-direction: row;

      div[data-is="tile"] {
        flex: 1;
        min-height: 128px;
        min-width: 128px;
      }
    }
  }
}
