@import './../../Style/variables';

div[data-is="game"] {
  display: flex;
  flex-direction: row;
  transform: scale(.8);
  margin-top: -2rem;

  section.game-section {
    flex: 1;
    padding: 0 2rem;
  }
}
