@import './../../Style/variables';

div[data-is="game"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;

  section.game-section {
    flex: 1;
    max-width: 710px;
  }
}
