div[data-is="character"] {
  width: 128px;
  height: 128px;

  &.chick {
    background-image: url('/images/chicky.png');
  }

  &.fox {
    background-image: url('/images/foxy.png');
  }

  &.up {
    background-position-x: 0px;

    &.is-burrowed {
      background-position-x: -512px;
    }
  }

  &.down {
    background-position-x: -384px;

    &.is-burrowed {
      background-position-x: -896px;
    }
  }

  &.left {
    background-position-x: -256px;

    &.is-burrowed {
      background-position-x: -768px;
    }
  }

  &.right {
    background-position-x: -128px;

    &.is-burrowed {
      background-position-x: -640px;
    }
  }

  &.burrow {
    background-position-x: -512px;
  }
}
