div[data-is="character"] {
  width: 128px;
  height: 128px;

  &.chick {
    background-image: url('/images/chicky.png');
  }

  &.fox {
    background-image: url('/images/foxy.png');
  }

  &.up {
    background-position-x: 0px;
  }

  &.down {
    background-position-x: -384px;
  }

  &.left {
    background-position-x: -256px;
  }

  &.right {
    background-position-x: -128px;
  }
}
